<div class="columns">
    <%= render 'shared/discussions' %>
    <%= render 'sidebar' %>
</div>

<% if has_role?(:admin) %>
<div class="panel panel-primary">
  <%= render 'shared/archive' %>
</div>
<% end %>
