<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <%= image_tag("error-image.png" ,height: "300px") %>
    <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
    <p class="lead">
      The page you requested does not exist
    </p>
    <a href="/accounts/sign_in" class="btn btn-primary">Go Home</a>
  </div>
</div>
