<div class="card p-1 pl-3 pr-3 mb-3">
  <div class="row">
    <div class="col-1">
      <%= display_profile_picture current_account, "profile-img", "profile-img.jpg" %>
    </div>
    <div class="col-9">
      <div class="create-post m-1">
        <%= link_to "Create Post", pass_community_params(community), class: "form-control"  %>
      </div>
    </div>
    <div class="col-2 create-post-img">
      <i class='fa fa-image'></i>
      <i class='fa fa-link'></i>
    </div>
  </div>
</div>
