<%= form_for [@community, @post] do |form| %>
<div class="row">
  <div class="col-sm-12">
    <div class="create-post m-3">
      <div class="form-group">
        <%= form.text_field :title, class: "form-control", placeholder: "Title", maxlength: 20%>
      </div>
    </div>
    <div class="create-post m-3">
      <div class="form-group">
        <%= form.file_field :images, multiple: true, :class=>"form-control", :placeholder=>"" %>
      </div>
    </div>
    <%= render 'checkbox_form' %>
  </div>
</div>
<% end %>
