<div class="row">
    <div class="col-12">
      <div class="">
        <ul class="nav">
          <li class="post-tab-nav-link flex-fill active"><a data-toggle="tab" href="#best_posts"><i class='fa fa-rocket mr-2'></i> Posts</a></li>
          <li class="post-tab-nav-link flex-fill"><a data-toggle="tab" href="#hot_posts"><i class='fa fa-fire mr-2'></i> Images & Video</a></li>
          <li class="post-tab-nav-link flex-fill"><a data-toggle="tab" href="#new_posts"><i class='fa fa-tag mr-2'></i> Link</a></li>
          <li class="post-tab-nav-link flex-fill"><a data-toggle="tab" href="#top_posts"><i class='fa fa-bar-chart mr-2'></i> Poll</a></li>
        </ul>
      </div>
    </div>
  </div>
