<div class="card-body" class="card-textarea">
  <h2><%= @post.title %></h2>
  <div style="word-wrap: break-word;">
    <%= @post.body  %>
    <% if @post.images.attached? %>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag @post.images[0], :class=>"d-block w-100" %>
          </div>
          <% @post.images.each do |img| %>
            <div class="carousel-item">
              <%= image_tag img, :class=>"d-block w-100" %>
            </div>
          <% end %>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
