<div id = "infinity">
  <%= render partial: "posts/draftlist", locals: { posts: @drafts } %>
</div>
<div id = "infinite-scrolling">
   <%= link_to_next_page(@drafts, "posts" , :remote => true) %>
</div>
