<div class="community_post pb-5">
  <div class="row">
    <div class="col-sm-8">
      <div class="row new_post_head pb-1">
        <div class="col-10 p-0">
          <h5 class="">Create Post</h5>
        </div>
        <div class="col-2 p-0">
          <button type="button" class="draft-btn" data-toggle="modal" data-target="#myModal">Drafts</button>
        </div>

       <% if flash[:notice] %>
        <div id="notice">
          <div class="alert alert-success alert-dismissible fade show" role="alert"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
        </div>
       <% end %>

      </div>
      <div class="row mt-3">
        <%= render partial: "form" %>
      </div>
    </div>
    <div class="col-sm-4">

    </div>
  </div>
</div>

<%= render partial: "modal" %>