/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= stub "active_admin"
 *= require_self
 */
@import "font-awesome";

@import "bootstrap/scss/bootstrap";

.textarea {
    overflow: scroll;
    height: 400px;
}

.imagecss{
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

.sens {
    width: 110px;
    height: 30px;
    color: black;
    border: 1px solid green;
    background-color: black;
}

.sensitive {
    width: 110px;
    height: 30px;
    color: black;
    border: 1px solid black;
    background-color: yellow;
    text-align: center;
}

.sensitiveC {
    width: 170px;
    height: 30px;
    color: black;
    border: 1px solid red;
    background-color: red;
    text-align: center;
    box-sizing: border-box;
}


.sensitiveS {
    width: 100px;
    height: 30px;
    color: black;
    border: 1px solid black;
    background-color: green;
    text-align: center;
}

.sensitive-text {
    font-size: 40px;
    color: transparent;
    text-shadow: 0 0 8px #000;
}

.margin{
    margin-left: 150px;
}

.sensitive-button{
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .sensitive-button:hover,
  .sensitive-button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  
  .sensitive-button:hover {
    transform: translateY(-1px);
  }
  
  .sensitive-button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }
.sensitive-image {
    filter: blur(30px);
}

.card-textarea {
    overflow: scroll;
    height: 400px;
}

.cards-wrapper {
    grid-column: center-start / -1;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    overflow: auto;
    padding-bottom: 1rem;
    padding-right: var(--page-margin);
}

.card-textarea {
    overflow: scroll;
    height: 200px;
    align-content: center;
    object-fit: cover;
}

.cards-wrapper {
    grid-column: center-start / -1;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    overflow: auto;
    padding-bottom: 1rem;
    padding-right: var(--page-margin);
}

.commentarea {
    overflow: scroll;
    height: 200px;
}

.card-height {
    height: 200px;
}

.sub-comment {
    padding-left: 20px;
}

.comment-form {
    display: none;
}

.commentandreplysection {
    margin-left: 130px;
}

.profile-pic {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin-top: -30px;
    margin-left: 30px;
    overflow: hidden;
    background: #fff;
    border: 1px solid none;
}

.cover-pic {
    margin-left: 0px;
    height: "200px";
    width: "1200px";
}

.image-size {
    height: "200px";
    width: "400px";
    align-content: center;
}

.join-button {
    margin-top: 10px;
    margin-right: 300px;
}

.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
