.join-btn {
  background-color: #fff;
  border: 1px solid #636c72;
  margin: 5px;
  padding: 3px 30px;
  display: inline-block;
  font-size: 16px;
	border-radius: 25px;
}

.join-btn a {
	font-size: 1em;
	font-weight: 700;
  color: #636c72;
  text-align: center;
  text-decoration: none;
}

.join-btn a:hover {
	text-decoration: none;
  color: #636c72;
}

form input[type=submit] {
  font-size: 1em;
  font-weight: 700;
  background: #636c72;
  color: #fff;
}

.community_post {
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
}
