#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.btn-primary{
  width: 115px;
  border-radius: 4px;
}

.join-btn {
  background-color: #fff;
  border: 1px solid #0079d3;
  margin: 5px;
  padding: 3px 30px;
  display: inline-block;
  border-radius: 25px;
  font-size: 1em;
  font-weight: 700;
  color: #0079d3;
  text-align: center;
  text-decoration: none;
}
.join-btn:hover {
  text-decoration: none;
}

.join-btn input[type=submit] {
  background: transparent;
  border: none;
  font-size: 1em;
  font-weight: 700;
  color: #0079d3;
  text-align: center;
  text-decoration: none;
}

.join-btn a {
  font-size: 1em;
  font-weight: 700;
  color: #0079d3;
  text-align: center;
  text-decoration: none;
}

.join-btn a:hover {
  text-decoration: none;
  color: #0079d3;
}

form input[type=submit] {
  font-size: 1em;
  font-weight: 700;
  background: #636c72;
  color: #fff;
}

.community_post {
  background: #dae0e6;
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
}

.community-nav-tab {
  margin: 0%;
  padding-left: 200px;
  padding-right: 200px;
}

.community-nav-link {
  margin: 3px 3px 0px 3px;
  padding: 0 4px;
}

.community-nav-link.active {
  border-bottom: 4px solid #636c72;
}

.community-nav-link a {
  color: #636c72;
  font-size: 1em;
  font-weight: 600;
}

.community-nav-link a:hover {
  text-decoration: none;
}

.cover-image {
  width: 100%;
  height: 200px;
}

.profile-img {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.create-post a {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(99, 108, 114, 0.1);
  border-radius: 4px;
  background: #f6f7f8;
  color: #636c72;
  font-size: 0.9em;
}

.create-post a:hover {
  cursor: text;
  text-decoration: none;
}

.create-post-img {
  margin-top: 3px;
  padding-top: 12px;
}

.create-post-img i {
  font-size: 1.4em;
  margin-right: 10px;
  color: rgba(99, 108, 114, 0.5);
}

.member {
  margin-bottom: 15px;
  padding: 5px;
  border-bottom: 1px solid rgba(99, 108, 114, 0.2);
  border-top: 1px solid rgba(99, 108, 114, 0.2);
}

.member p {
  margin-top: 4px;
}

.create-post-btn {
  background-color: #0079d3;
  padding: 3px 30px;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  text-align: center;
}

.create-post-btn a {
  color: #fff;
}
