.login-head-text {
	font-size: 0.8em;
}

.login-form-field {
	font-size: 2em;
	background: gray;
}

.form-group .btn-login {
	display: block;
	width: 100%;
	background: #d93a00;
	color: #fff;
	border-radius: 20px;
	font-weight: 700;
}

.form-group .btn-login:hover {
	background: #d93a00;
	color: #fff;
}


.or-line {
	overflow: hidden;
	text-align: center;
	color: rgb(99, 108, 114);
	font-weight: 700;
}

.or-line:before,
.or-line:after {
	background-color: rgba(99, 108, 114, 0.2);
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}

.or-line:before {
	right: 0.5em;
	margin-left: -50%;
}

.or-line:after {
	left: 0.5em;
	margin-right: -50%;
}

::-webkit-file-upload-button {
	display: none;
}
