.upvote {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000;

  &.active {
    color: #ff0000;
  }

  &:hover {
    color: #ff0000;
    cursor: pointer;
  }
}

.comment {
  margin-left: 10px;
}

.sub-comment {
  padding-left: 20px;
}

.comment-form {
  display: none;
}

.comment-field {
  margin-left: 30px;
  margin-right: 30px;
}

.downvote {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000;

  &.active {
    color: blue;
  }

  &:hover {
    color: blue;
    cursor: pointer;
  }
}

.new_post_head {
  display: flex;
  width: 100%;
  margin: 2px;
  border-bottom: 1px solid #fff;
}

.draft-right {
  right: 0;
}

.draft-btn {
  background-color: transparent;
  border: none;
  margin: 5px;
  padding: 3px 30px;
  display: inline-block;
  border-radius: 25px;
  font-size: 1em;
  font-weight: 700;
  color: #0079d3;
  text-align: center;
  text-decoration: none;
}

.draft-btn:hover {
  background-color: rgba(99, 108, 114, 0.2);
  cursor: pointer;
}

.show_post {
  background: #dae0e6;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.post-tab-nav-link {
  background-color: #fff;
  padding: 10px 20px;
  display: inline-block;
  border: 0.8px solid rgba(99, 108, 114, 0.2);
  justify-content: center;
}

.show-content {
  display: flex;
}

.like-unlike {
  display: inline;
}

.post-tab-nav-link.active {
  border-bottom: 2px solid #0079d3;
}

.post-tab-nav-link:hover {
  background-color: rgba(0, 121, 211, 0.07);
}

.post-tab-nav-link a {
  margin: 15px;
  color: #8c8f91;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.post-tab-nav-link.active a {
  color: #0079d3;
}

.post-tab-nav-link a:hover {
  text-decoration: none;
}

.create-post a {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(99, 108, 114, 0.1);
  border-radius: 4px;
  background: #f6f7f8;
  color: #636c72;
  font-size: 0.9em;
}

.create-post a:hover {
  cursor: text;
  text-decoration: none;
}

.post-list-head {
  font-size: 0.7em;
}

.post-list-profile-img {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.post-list-profile-img img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flair-badge {
  margin-top: 2px;
  margin-left: 5px;
  padding: 1px 10px;
  font-size: 0.8em;
  background-color: #ff4500;
  color: #fff;
  border-radius: 25px;
}

.list-post-img {
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.list-post-img img {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 0;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-post-tab {
  background-color: #fff;
  padding: 8px;
  display: inline-block;
  font-size: 0.9em;
  text-align: center;
  text-decoration: none;
  color: #8c8f91;
  border-radius: 5px;
}

.list-post-tab:hover {
  color: #8c8f91;
  text-decoration: none;
  background-color: rgba(157,160,161,0.2);
}

.vote-col {
  background-color: #f8f9fa;
}

.post-card:hover {
  cursor: pointer;
  border: 1px solid #636c72;
}

.small-pic{
  height: 30px;
  width: 30px;
}

.reactions{
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  a {
    color: black;
  }
  i {
    padding: 3px;
  }
}

.rules-card-title {
  background-color: #0079d3;
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}

.textarea{
  inline-size: 100%;
}

.errors{
  border: 1px solid red;
}