<div class="card w-100">
  <div class="card-header">Banned Users <i class="fa fa-info-circle text-primary ml-1"></i></div>
  <% if @banned_user.empty? %>
    <Center>No Banned Users in this community</Center>
  <% else %>
    <% @banned_user.each do |user| %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <%= link_to user.username, profile_path(user.username) %> </li>
      </ul>
    <% end %>
  <% end %>
</div>
