<div class="community_post pb-10">
  <div class="row">
    <div class="col-lg-10">
      <div class="row new_post_head pb-1">
        <div class="col-10 p-0">
          <h5 class="">Edit Community</h5>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-10"> 
          <%= render partial: "form" %>
        </div>
      </div>
    </div>
  </div>
</div>