<% for subscriber in @subscriptions %>
  <span class="card">
    <b>Community Name : <%= link_to subscriber.community.name, subscriber.community%></b>
    <div class="row">
      <div class="col-10">
        <p> <b>Summary : </b><%= subscriber.community.summary %></p>
      </div>
      <div class="button">
        <div class="col-12 sm-2">
          <%= link_to "Create New Post", new_post_path(subscriber.community)%>
        </div>
      </div>
    </div>
  </span>
<% end %>
