<div class="card">
  <div class="card p-2 pl-3 pr-3">
    <div class="row">
      <div class="col-8 p-2">
        <ul class="nav">
          <li class="tab-nav-link active"><a data-toggle="tab" href="#my_posts"><i class='fa fa-handshake'></i> POSTS</a></li>
          <li class="tab-nav-link"><a data-toggle="tab" href="#COMMENTS"><i class='fa fa-comment'></i> COMMENTS</a></li>
          <li class="tab-nav-link"><a data-toggle="tab" href="#SAVED"><i class='fa fa-bookmark-o'></i>SAVED</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
