<div class="card">
  <div class="card p-2 pl-3 pr-3">
    <div class="row">
      <div class="col-8 p-2">
        <ul class="nav">
          <li class="tab-nav-link active"><a data-toggle="tab" href="#POSTS"><i class='fa fa-handshake-o'></i> My Posts</a></li>
          <% %w[COMMENTS SAVED].each do |f| %>
            <li class="tab-nav-link"><a data-toggle="tab" href="#<%=f%>"><i class='	fa fa-users'></i> <%=f%></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
