<div class="card">
  <div class="card p-2 pl-3 pr-3">
    <div class="row">
      <div class="col-8 p-2">
        <ul class="nav">
          <li class="tab-nav-link active"><a data-toggle="tab" href="#POSTS"><i class='fa fa-handshake-o'></i> My Posts</a></li>
          <li class="tab-nav-link"><a data-toggle="tab" href="#COMMENTS"><i class='fa fa-user-o'></i> My Comments</a></li>
          <li class="tab-nav-link"><a data-toggle="tab" href="#SAVED"><i class='fa fa-tag'></i> My Saved</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
