<div class="card p-1 pl-3 pr-3 mb-3">
  <div class="row">
    <div class="col-10 p-2">
      <ul class="nav">
        <li class="tab-nav-link active"><a data-toggle="tab" href="#my_posts"><i class='fa fa-handshake-o'></i> My Posts</a></li>
        <% %w[my_comments my_subscriber my_description saved_posts my_community].each do |f| %>
          <li class="tab-nav-link"><a data-toggle="tab" href="#<%=f%>"><i class='	fa fa-users'></i> <%=f.humanize%></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
