<div class="card p-1 pl-3 pr-3 mb-3">
  <div class="row">
    <div class="col-9 p-2">
      <div class="">
        <ul class="nav">
        <% hash = {best: "fa-rocket", hot: "fa-fire", new: "fa-tag", top: "fa-bar-chart"} %>
        <% hash.each do |tab,icon| %>
          <%= link_to "#", class: "tab-nav-link #{active_nav(tab)}", remote: true, data: {tab: tab} do %>
            <i class='fa <%= icon %> mr-2 '></i><%= tab.capitalize %>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
