<head>
<script>  
 $(window).scroll(function() {
   var next_url = $("#infinite-scrolling a[rel='next']").attr('href');      
   if (( next_url ) && ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight))
   {          
     $('#my-posts').show();
     $.getScript(next_url);
     return;
   }
 });
</script>   
</head>
<% unless account_signed_in? %>
  <div class="row">
    <div class="col">
      <p class="h5">Trending Today</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      Trending 1
    </div>
    <div class="col-sm-3">
      Trending 2
    </div>
    <div class="col-sm-3">
      Trending 3
    </div>
    <div class="col-sm-3">
      Trending 4
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col">
    <p class="h5">Popular Posts</p>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div id = "my-posts">
     <%= render partial: "posts/list", locals: { posts: @posts } %>
    </div>
    <div id = "infinite-scrolling">
     <%= link_to_next_page(@posts, "posts" , :remote => true) %>
    </div> 
  </div>
  <div class="col-4">
    <div class = "sticky-top">
    <p class="h5 mb-4">Up and coming Communities</p>

    <div class="card">
      <ul class="list-group list-group-flush">
        <% @communities.each do |community| %>
          <li class="list-group-item"><%= link_to community.name, community_path(community) %></li>
        <% end %>
      </ul>
    </div>

    <%= link_to "View all", communities_path, class: "btn btn-primary mt-4" %>
  </div>
  </div>
</div>
